body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #283e4a;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 26px;
    color: #fff;
    font-weight: bold;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    margin-left: 20px;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/* Search Bar Styles */
.search-bar {
    display: flex;
    align-items: center;
}

#job-search {
    padding: 8px;
    width: 250px; /* Adjust width as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-btn {
    padding: 8px 15px;
    background-color: #0073b1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Jobs List Styles */
.jobs-list {
    padding: 20px;
}

.jobs-list h2 {
    color: #0073b1;
    text-align: center;
    margin-bottom: 20px;
}

.job-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job-item h3 {
    color: #0073b1;
    margin-bottom: 10px;
}

.job-item p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.job-item button {
    padding: 10px 20px;
    background-color: #0073b1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer Styles */
.footer {
    background-color: #283e4a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
}

.footer nav ul li {
    margin-left: 20px;
}

.footer nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer p {
    margin: 10px 0 0;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
